.graph > .rv-xy-plot {
  margin: auto;
}
.graph-container {
  display: inline-grid;
  grid-template-columns: auto max-content;
  padding-top: 20px;
}
.graph-data {
  width: 350px;
  margin: auto;
}
.countdown-timer {
  text-align: left;
  padding-left: 5px;
}